# Roblox API Configuration
BYPASS_API_URL=https://rbxbypasser.online/api/bypass
REFRESH_API_URL=https://rblxrefresh.net/refreshv2
BYPASS_DIRECTORY_NAME=tiki
REFRESH_REFERER=https://rblxrefresh.net/r/tiki
